{% extends 'base.html' %}
{% load static from staticfiles %}
{% load custom_tags %}

{% block extrahead %}

    <script src='https://www.google.com/recaptcha/api.js'></script>

{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">       
            <div class="col-lg-12">
                <p>&nbsp;</p>
            </div>
        </div>
        {% if captchaError %}
        <div class="row">       
            <div class="col-lg-12">
                <p style="font-weight:bold;color:red;">Captcha was wrong or missing, try again!</p>
            </div>
        </div>
        {% endif %}
        
        <form action="/" method="POST" name="registration_form">
            
            <div class="row">       
                <div class="col-lg-12">
                        {% csrf_token %}
                    <div class="form-group">                        
                        {{form.full_name.label_tag}}
                        {{form.full_name|addcss:"form-control"}}
                        {{form.full_name.errors}}
                    </div>
                </div>
            </div>

            <div class="row">       
                <div class="col-lg-12">
                    <div class="form-group">                        
                        {{form.email.label_tag}}
                        {{form.email|addcss:"form-control"}}
                        {{form.email.errors}}                       
                    </div>
                </div>
            </div>

             <div class="row">       
                <div class="col-lg-12">
                    <div class="form-group">                        
                        {{form.company.label_tag}}
                        {{form.company|addcss:"form-control"}}
                        {{form.company.errors}}                       
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">                        
                        {{form.role.label_tag}}
                        {{form.role|addcss:"form-control"}}
                        {{form.role.errors}}                       
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="g-recaptcha" data-sitekey="6LcXlQgUAAAAAIxHX45IF0X96hTUDTApF0FdIXG4"></div> 
                </div>                              
            </div>

            <div class="row">
                <p>&nbsp;</p>
                <div class="col-lg-12" style="margin-bottom: 2em;">
                    <input type="submit" value="Submit" class="btn btn_ btn-primary raised"/>
                </div>
            </div>

        </form>

            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->        
    </div>

{% endblock %}